<ul>
<li><a href="{{site.baseurl}}/playbook/">Overview</a></li>
<li><a href="{{site.baseurl}}/playbook/">The Product Lifecycle</a></li>
<li><a href="{{site.baseurl}}/playbook/">Product Centricity</a>
  <ul>
<li><a href="{{site.baseurl}}/playbook/">Home Office Product Register</a></li>
<li><a href="{{site.baseurl}}/playbook/">Product Books</a>
  <ul>
    <li><a href="{{site.baseurl}}/playbook/">Vision</a></li>
    <li><a href="{{site.baseurl}}/playbook/">Value Proposition</a></li>
    <li><a href="{{site.baseurl}}/Roadmaps/">Roadmaps</a></li>
    <li><a href="{{site.baseurl}}/playbook/">Metrics</a></li>
  </ul>
</li></ul></li>
<li><a href="{{site.baseurl}}/playbook/">Effective Delivery</a>
  <ul>
<li><a href="{{site.baseurl}}/playbook/">Planning and Forecasting</a></li>
<li><a href="{{site.baseurl}}/playbook/">Ensuring Quality</a></li>
<li><a href="{{site.baseurl}}/playbook/">Financial and Commercial Management</a></li>
<li><a href="{{site.baseurl}}/playbook/">Risk Reduction</a></li>
<li><a href="{{site.baseurl}}/playbook/">Collaboration and Communication</a></li>
<li><a href="{{site.baseurl}}/playbook/">Continuous Improvement</a></li>
<li><a href="{{site.baseurl}}/playbook/">Governance</a></li>
</ul>
</li>
<li><a href="{{site.baseurl}}/playbook/">Building Multi-disciplinary Teams</a></li>
</ul>
