<ul>
<li><a href="{{site.baseurl}}/playbook/">Overview</a></li>
<li><a href="{{site.baseurl}}/playbook/">Working in a Product Centric Way</a>
  <ul>
    <li><a href="{{site.baseurl}}/playbook/">The Home Office Product Register</a></li>
    <li><a href="{{site.baseurl}}/Productbooks/">Product Books</a>
    <ul>
      <li><a href="{{site.baseurl}}/playbook/">Vision</a></li>
      <li><a href="{{site.baseurl}}/playbook/">Value Proposition</a></li>
      <li><a href="{{site.baseurl}}/Roadmaps/">Roadmaps</a></li>
      <li><a href="{{site.baseurl}}/playbook/">Metrics</a></li>
    </ul>
    </li></ul>
</li>
<li><a href="{{site.baseurl}}/playbook/">Delivering Effectively</a></li>
<li><a href="{{site.baseurl}}/playbook/">Building Multi-disciplinary Teams</a></li>
</ul>
