---
layout: default
---
<section class="hero">
  <div class="hero__content">
    <div class="grid-row">
      <div class="column-two-thirds">
        <h1 class="hero__title">DDaT Playbook</h1>
        <p class="hero__description">How to build and run Home Office products and services</p>
        <div class="search-wrapper">
          <a href="#search" class="search-toggle js-header-toggle">Search</a>

          <form id="search" class="site-search" action="{{ site.baseurl }}/search/" method="get" role="search">
            <div class="content">
              <label for="site-search-text">Search</label>
              <input type="text" id="site-search-text" class="js-search-focus" name="query">
              <input class="submit" type="submit" value="Search">
            </div>
            <input type="hidden" name="show_organisations_filter" value="true">
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<main class="full-page-width-wrapper" id="content" role="main">
  <div class="collection">
    <div class="grid-row">
      <div class="column-one-third">
        <h2 class="heading-medium"><a href="{{ site.url }}{{ site.baseurl }}/#">Intro</a></h2>
        <p>Purpose of this playbook and how to contribute</p>
      </div>
      <div class="column-one-third">
        <h2 class="heading-medium"><a href="{{ site.url }}{{ site.baseurl }}/#">Understand the problem</a></h2>
        <p>Understand the problem you're trying to solve</p>
      </div>
      <div class="column-one-third">
        <h2 class="heading-medium"><a href="{{ site.url }}{{ site.baseurl }}/#">Be user centred</a></h2>
        <p>Design with users</p>
      </div>
    </div>
    <div class="grid-row">
      <div class="column-one-third">
        <h2 class="heading-medium"><a href="{{ site.url }}{{ site.baseurl }}/#">Use effective delivery methods</a></h2>
        <p>Purpose of this playbook and how to contribute</p>
      </div>
      <div class="column-one-third">
        <h2 class="heading-medium"><a href="{{ site.url }}{{ site.baseurl }}/#">Understand the problem</a></h2>
        <p>Understand the problem you're trying to solve</p>
      </div>
      <div class="column-one-third">
        <h2 class="heading-medium"><a href="{{ site.url }}{{ site.baseurl }}/#">Be user centred</a></h2>
        <p>Design with users</p>
      </div>
    </div>
<!--
    <div class="grid-row">
      <div class="column-half">
        <h2 class="heading-medium"><a href="https://www.gov.uk/service-toolkit">GOV.UK Service Toolkit</a></h2>
        <p>The government standards your team needs to work to, and the guidance and tools to support them.</p>
      </div>
      <div class="column-half">
        <h2 class="heading-medium"><a href="{{ site.url }}{{ site.baseurl }}/guidance-tools">Home Office guidance and tools</a></h2>
        <p>The departmental things you need to build and run your service, includes the design system.</p>
      </div>
    </div>

    <div class="grid-row">
      <div class="column-half">
        <h2 class="heading-medium"><a href="{{ site.url }}{{ site.baseurl }}/assessments">Assessments at the Home Office</a></h2>
        <p>All services need an assessment, includes training and consultancy to help your team prepare.</p>
      </div>
      <div class="column-half">
        <h2 class="heading-medium"><a href="{{ site.url }}{{ site.baseurl }}/inhouse-services">Find and book in-house services</a></h2>
        <p>From recruitment help and accessibility audits to booking the user research labs.</p>
      </div>
    </div>

    <div class="grid-row">
      <div class="column-half">
        <h2 class="heading-medium"><a href="{{ site.url }}{{ site.baseurl }}/training/">Find and book training</a></h2>
        <p>Find and book the training you need to work on a Home Office service team.</p>
      </div>
    </div> -->

  </div><!-- collection-->

</main>
