---
layout: default
---
<main id="content" role="main">
  <div class="phase-banner">
  <p>
    <strong class="phase-tag">Prototype</strong>
    <span>This is a prototype. It is not an official product or service. You can <a href="mailto:remoteworking@digital.homeoffice.gov.uk>">email us</a> any feedback</span>
  </p>
</div>

{% if page.id != "index" %}
  <div class="grid-row">
    <div class="column-full" >
      {% include nav-breadcrumbs.html %}

    </div>
  </div>
  {% endif %}
  <div class="grid-row">  <h1 class="heading-large">
    <div class="column-full">
        <!-- {% if page.category %}  <span class="heading-secondary">{{ page.category }}</span>{% endif %} -->
      <h1 class="heading-large">{{ page.title }}</h1>
    </div>
  </h1>

  </div>
  <div class="grid-row">

    <div class="column-one-third">
      <h2 class="heading-small">Page contents</h2>

      <ul class="list-reset">
        <li><a href="#general-remote-guides">General remote guides</a></li>
        <li><a href="#remote-ways-of-working">Remote ways of working</a></li>
        <li><a href="#tools">Tools</a></li>
        <li><a href="#mental-health">Mental health</a></li>
        <li><a href="#fun">Fun</a></li>

      </ul>
    </div>

    <div class="column-two-thirds">

      {{ content }}
    </div>
  </div>

</main>
