---
layout: default
---
<main id="content" role="main">

{% if page.id != "index" %}
  <div class="grid-row">
    <div class="column-full" >
      {% include nav-breadcrumbs.html %}

    </div>
  </div>
  {% endif %}
  <div class="grid-row">
    <div class="column-one-third">
      <h2 class="heading-small">Playbook contents</h2>

      <ul class="list-reset">
        {% for page in site.pages %} 
          {% if page.category contains 'contents' %}
          <li class="">
            <h3 class="heading-small"><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></h3>
              <!-- <p>{{ page.content | markdownify | strip_html | truncatewords:25 }}</p> -->
            </li>
            {% endif %}
          {% endfor %}
        </ul>

    </div>
    <div class="column-two-thirds">
      <h1 class="heading-large">
        <!-- {% if page.category %}  <span class="heading-secondary">{{ page.category }}</span>{% endif %} -->
        {{ page.title }}
      </h1>

      {{ content }}
    </div>
  </div>

</main>
